<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Airbnb</title>
    <link rel="stylesheet" href="/styles/bootstrap.css" />
		<link rel="stylesheet" href="/styles/login.css">
			<link rel="stylesheet" href="/styles/additionalcss.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
