
    <div class="card">
      <div class="card-body">
        <img
          src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
          alt="Airbnb Logo"
        />
        <form class="" action="/auth/login" method="post">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <input
							name = "email"
              type="email"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Password</label
            >
            <input
							name = "password"
              type="password"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder=""
            />
          </div>
          <button class="btn btn-success mb-3">Submit</button>
          <div class="mb-3">
            <span>New to Airbnb? <a href="Signup.html">Sign Up</a> </span>
          </div>
        </form>
      </div>
    </div>
