{{>nav}}
    <div class="container">
      <div class="row">
        <div class="col col-4">
          <div class="mb-3">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Name</label>
              <div class="mb-3">
                <input
                  type="Text"
                  class=""
                  id="formGroupExampleInput"
                  placeholder=""
                />
              </div>
            </div>
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <div>
              <input
                type="email"
                class="col-sm-4 fs1"
                id="formGroupExampleInput"
                placeholder=""
              />
            </div>
            <div class="">
              <span>Profile Picture</span>
            </div>
            <div>
              <img
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt=""
              />
            </div>
            <div class="">
              <input
                type="text"
                name=""
                value=""
                placeholder="https://randomuser.me/api/portraits/men/11.jpg"
              />
            </div>
            <button type="button" class="btn btn-success mt-3">
              Save Changes
            </button>
          </div>
        </div>
        <div class="col col-8">
          <div class="col-sm-8 fs1">List a House</div>
          <button type="button" class="btn btn-success mt-3">
            List a House
          </button>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                  class="img-fluid rounded-start"
                  alt="Luxury Villa Photo"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Luxury Villa in Chaweng</h5>
                  <p class="card-text">
                    <small class="text-muted">4 rooms • $350/night</small>
                  </p>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis
                    pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                    semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
                    tellus. Phasellus viverra nulla ut metus varius laoreet.
                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                    rhoncus, sem quam semper libero, sit amet adipiscing sem
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus
                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                    tincidunt tempus. Donec vitae sapien ut libero venenatis
                    faucibus. Nullam quis ante. Etiam sit amet orci eget eros
                    faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet
                    nibh. Donec sodales sagittis magna. Sed consequat, leo eget
                    bibendum sodales, augue velit cursus nunc,
                  </p>
                  <button type="button" class="btn btn-outline-secondary">
                    Edit
                  </button>
                  <button type="button" class="btn btn-outline-success">
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
                  class="img-fluid rounded-start"
                  alt="Private Villa Lotus Picture"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Private Villa Lotus 1</h5>
                  <p class="card-text">
                    <small class="text-muted">3 rooms • $150/night</small>
                  </p>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis
                    pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                    semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
                    tellus. Phasellus viverra nulla ut metus varius laoreet.
                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                    rhoncus, sem quam semper libero, sit amet adipiscing sem
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus
                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                    tincidunt tempus. Donec vitae sapien ut libero venenatis
                    faucibus. Nullam quis ante. Etiam sit amet orci eget eros
                    faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet
                    nibh. Donec sodales sagittis magna. Sed consequat, leo eget
                    bibendum sodales, augue velit cursus nunc,
                  </p>
                  <button type="button" class="btn btn-outline-secondary">
                    Edit
                  </button>
                  <button type="button" class="btn btn-outline-success">
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <p class="mb-3"> List a House</p> -->
    </div>
