    <div class="card">
      <div class="card-body">
        <img
          src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
          alt="Airbnb Logo"
        />
        <form class="" action="/auth/signup" method="post">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Your Full Name</label
            >
            <input
							name = "name"
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          <label for="formFile" class="form-label">Profile Picture</label>
          <div class="mb-1">
            <input
						  name= "avatar"
							class="form-control"
              type="url"
              id="formFile"
              placeholder="https://..."
              required
            />

            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">
								Email
							</label>
							<input

								name = "email"
                type="email"
                class="form-control"
                id="formGroupExampleInput"
                placeholder=""
              />
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">
								Password
								</label>
              <input
                type="password"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder=""
								name="password"
              />
            </div>
            <button class="btn btn-success mb-3">Sign Up</button>
            <div class="mb-3">
              <span
                >Already have an Account? <a href="Login.html">Login</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
