{{>nav}}
		<p class="fs-1 container-xxl mb-3">List a House</p>
    <form>
      <div class="container-xxl mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Short Title</label
        >
        <input type="text" class="form-control" required />
      </div>
      <div class="container-xxl mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          required
        >
        </textarea>
      </div>
      <div class="container-xxl mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Location</label
        >
        <select class="form-select" aria-label="Location">
          <option selected>Koh Samui</option>
          <option value="1">Koh Phangan</option>
          <option value="2">Bali</option>
        </select>
      </div>
      <div class="container-xxl mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">
          Price per Night
        </label>
        <div class="container-xxl mb-3">
          <input
            class="form-control"
            type="number"
            placeholder="$"
            name=""
            value=""
            min="1"
          />
        </div>
        <label for="formFile" class="form-label"
          >Add Photos (Up to 9 Photos)</label
        >
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="url"
            id="formFile"
            placeholder="https://..."
            required
          />
        </div>
        <button type="button" class="btn btn-success mt-3">Submit</button>
      </div>
    </form>
