{{>nav}}
		<div class="container">
      <div class="row">
        <div class="col">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
            alt=""
          />
        </div>
        <div class="col">
          <div class="container">
            <div class="row row-cols-3">
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
                  alt=""
                />
              </div>
              <div class="col">
                <img
                  class="img-thumbnail"
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>Luxury Villa in Chaweng</h2>
          <p class="h6">! Koh Samui • 4 Rooms</p>
          <div>
            <button type="button" class="btn btn-outline-secondar">
              <img
                class="avatar"
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt=""
              />Tony Russo
            </button>
          </div>
          <p class="">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
            mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
            Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
            condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
            neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
            hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
            Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
            fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
            consequat, leo eget bibendum sodales, augue velit cursus nunc,
          </p>

          <h3>2 Reviews</h3>
          <p>Leave a Review</p>
          <form class="" action="index.html" method="post">
            <textarea name="name" rows="8" cols="80"> </textarea>
            <button type="button" class="btn btn-secondary">
              U
            </button>
            <button type="button" class="btn btn-secondary">
              D
            </button>
            <button type="button" class="btn btn-secondary">
              Submit
            </button>
          </form>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <small class="text-muted">Last updated 3 mins ago</small>
                  <h5 class="card-title">Peter Lewis</h5>

                  <p class="card-text">
                    10 out of 10, I will be back.
                  </p>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <small class="text-muted">Last updated 3 mins ago</small>
                  <h5 class="card-title">Melany Kim</h5>

                  <p class="card-text">
                    This place is Fantastic
                  </p>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">$350/Night</h5>
              <h6 class="card-subtitle mb-2 text-muted">0 Reviews</h6>
              <form class="" action="index.html" method="post">
                <textarea
                  name=""
                  value=""
                  rows="3"
                  placeholder="Send the host a message..."
                ></textarea>
                <button type="button" class="btn btn-secondary">
                  Request a Booking
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
